<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./recursos/estilos/normalize.css">
    <link rel="stylesheet" href="./recursos/estilos/general.css">
    <link rel="stylesheet" href="./recursos/estilos/nav-tienda.css">
    <link rel="stylesheet" href="./recursos/estilos/footer.css">
    <link rel="stylesheet" href="./recursos/estilos/perfil.css">
    <link rel="stylesheet" href="./recursos/estilos/perfil-movil.css">
    <title>Perfil | Duo Danza Club</title>
</head>

<body>
    <div id="app">
        <div class="contenedor-total">
            <header>
                <div class="contenedor-logo-nav">
                    <img src="./recursos/imagenes/logo_light.png">
                    <nav>
                        <a href="./index.html">Home</a>
                        <a href="./festivales.html">Festivales</a>
                        <a href="./tienda-online.html">Tienda</a>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="6" cy="19" r="2" />
                <circle cx="17" cy="19" r="2" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
                </svg></a>
                    </nav>
                </div>
            </header>
            <main>
                <div class="contenedor-usuario">

                    <img class="logo-usuario" src="./recursos/imagenes/perfil_usuario.png" alt="">

                    <div class="id-usuario">
                        <div>
                            <p style="margin: 0;">N° {{usuario.id}}</p>
                        </div>
                    </div>
                    <div>
                        <div class="contenedor-manos">
                            <img class="mano-izquierda img-fluid" src="./recursos/imagenes/home/mano_1.png">
                            <img class="mano-derecha img-fluid" src="./recursos/imagenes/home/mano_2.png">
                        </div>
                        <div class="info-usuario">
                            <div>
                                <div class="datos-usuario">
                                    <p>Nombre: {{usuario.nombre}} </p>
                                    <p>Apellido/s: {{usuario.apellido}} </p>
                                    <p>Fecha de nacimiento: {{usuario.fechaNacimiento}}</p>
                                    <p>Biografía: {{usuario.descripcion}} </p>
                                </div>
                                <div class="foto-perfil">
                                    <div v-show="noFoto" class="no-foto">

                                    </div>
                                    <img v-show="fotoPerfil" v-bind:src="usuario.foto" alt="Foto de perfil">
                                </div>
                            </div>
                            <div>
                                <button type="button" @click="clickEditar">EDITAR</button>
                                <button type="button" @click="cerrarSesion()">CERRAR SESIÓN</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="contenedor-abonos">
                    <img class="logo-abonos" src="./recursos/imagenes/clases/abonos.png">
                </div>
                <div class="tipos-clases">
                    <button class="suelta" type="button" @click="clickSuelta">CLASE SUELTA</button>
                    <button class="mensual" type="button" @click="clickMensual">MENSUAL</button>
                    <button class="trimestral" type="button" @click="clickTrimestral">TRIMESTRAL</button>
                </div>

                <div class="precio-abonos">
                    <img class="piernas" src="./recursos/imagenes/silueta_zapatos.png">
                    <div class="contenedor-seleccion-clases ">
                        <div class="selector-clases">
                            <div>
                                <select v-model="clase.cantidadClases ">
                                <option value="1 ">1 Clases</option>
                                <option value="2 ">2 Clases</option>
                                <option value="3 ">3 Clases</option>
                                <option value="4 ">4 Clases</option>
                                <option value="5 ">5 Clases</option>
                                </select>
                                <p>por semana</p>

                            </div>
                            <div>
                                <p>modo de pago</p>
                                <select v-model="clase.modoPago ">
                                    <option value="debito ">DEBITO</option>
                                    <option value="credito ">CREDITO</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <h2>$1200/mes </h2>
                        </div>

                    </div>
                    <!-- <button type="button">SELECCIONAR</button> -->
                </div>
                <div class="contenedor-match">
                    <img class="telas img-fluid" src="./recursos/imagenes/telas.png">
                    <div class="match-info">
                        <div class="logo-match">
                            <img class=" img-fluid " src="./recursos/imagenes/home/match_ok.png ">
                        </div>
                        <div class="texto-bachata">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus cupiditate ab neque eius mollitia perferendis dolorem, corrupti excepturi, sint temporibus, exercitationem labore deleniti. Et alias in incidunt impedit fugiat
                                vitae?
                            </p>
                        </div>
                        <img class="pareja img-fluid " src="./recursos/imagenes/home/bachata_recorte.png">
                    </div>
                </div>
                <div class="sponsors">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </main>

            <footer>
                <div class="enlaces ">
                    <a href="#/" @click="abrirContacto">CONTACTO</a>
                    <a href="#/">PREGUNTAS FRECUENTES</a>
                    <a href="./bases-condiciones.html">BASES Y CONDICIONES</a>

                </div>
                <div class="logo-footer ">
                    <img src="./recursos/imagenes/logo_NEUTRO_light.png ">
                </div>
                <div class="redes-correo ">
                    <div class="contenedor-redes ">
                        <a href="https://www.facebook.com " target="_blank"><img src="./recursos/imagenes/facebook.png "></a>
                        <a href="https://www.instagram.com " target="_blank"> <img src="./recursos/imagenes/instagram.png "></a>
                        <a href="https://twitter.com " target="_blank"> <img src="./recursos/imagenes/twitter.png "></a>
                    </div>
                    <a href="# ">duodanzaclub@gmail.com</a>
                </div>
            </footer>
        </div>
        <template>
            <transition name="fade">
                <section class="modal" v-show="editarPerfil==true">
                    <div class="contenedor-manos manos-modal">
                        <img class="mano-izquierda img-fluid" src="./recursos/imagenes/home/mano_1.png">
                        <img class="mano-derecha img-fluid" src="./recursos/imagenes/home/mano_2.png">
                    </div>
                    <div class="contenedor-modal">
                        <div class="modal-editar ">
                            <h2>EDITAR PERFIL</h2>
                            <form>
                                <input v-model="cambio.nombre" type="text" placeholder="Nombre">
                                <input v-model="cambio.apellido" type="text" placeholder="Apellido">
                                <input v-model="cambio.nacimiento" type="date" placeholder="Fecha de nacimiento">
                                <input v-model="cambio.foto" type="text" placeholder="Agregar foto">
                                <!--<input v-model="cambio.email" type="text" placeholder="e-mail">-->
                                <input v-model="cambio.ciudad" type="text" placeholder="Ciudad">
                                <input v-model="cambio.telefono" type="number" placeholder="Telefono">
                                <textarea class="textarea" v-model="cambio.descripcion" rows="4" cols="30" placeholder="Agregar biografía"></textarea>
                                
                                <!--<input v-model="cambio.contraseña" type="password" placeholder="Contraseña">-->
                            </form>
                            <div class="contenedor-botones">
                                <button type="button" @click="clickEditar">VOLVER</button>
                                <button type="button" @click="editarInfo" >CONFIRMAR</button>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </transition>
        </template>
        <template>
            <transition name="fade">
                <section class="modal" v-show="modalContacto==true">
                    <div class="contenedor-manos">
                        <img class="mano-izquierda izquierda-contacto img-fluid" src="./recursos/imagenes/home/mano_1.png">
                        <img class="mano-derecha derecha-contacto img-fluid" src="./recursos/imagenes/home/mano_2.png">
                    </div>
                        <div class="contenedor-modal modal-contacto">
                            <form>
                                <div>
                                    <p>CONTACTO</p>
                                </div>
                                <div class="contenedor-form">
                                    <div class="logo-form"></div>
                                    <div>
                                        <div>
                                            <input type="text" placeholder="nombre">
                                            <input type="text" placeholder="e-mail">
                                        </div>
                                        <textarea  cols="40" rows="20" placeholder="Mensaje"></textarea>
                                        <div class="botones">
                                            <button type="button" @click="enviarFormulario">ENVIAR</button>
                                            <button type="button" @click="abrirContacto">VOLVER</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                </section>
            </transition>
        </template>
        <template>
            <transition name="fade">
                <section class="modal" v-show="formEnviado==true">  
                    <div class="envio-formulario" >
                        <h2>Mensaje enviado</h2>
                       <p>Gracias por su mensaje, nos comunicaremos a la brevedad.</p>
                       <button type="button" @click="cerrar">VOLVER</button>
                    </div>
                </section>
            </transition>
        </template>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
    <script src="./recursos/scripts/perfil.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
</body>

</html>