<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./recursos/estilos/normalize.css">
    <link rel="stylesheet" href="./recursos/estilos/general.css">
    <link rel="stylesheet" href="./recursos/estilos/tienda.css">
    <link rel="stylesheet" href="./recursos/estilos/tienda-movil.css">
    <link rel="stylesheet" href="./recursos/estilos/nav-tienda.css">
    <link rel="stylesheet" href="./recursos/estilos/footer.css">
    <link rel="shortcut icon" href="./recursos/imagenes/favIcon.png">
    <title>Tienda Online | Duo Danza Club</title>
</head>

<body>
    <div id="app">
        <div class="contenedor-total">
            <header>
                <div class="contenedor-logo-nav">
                    <img src="./recursos/imagenes/logo_light.png">
                    <nav>
                        <a href="./index.html">Home</a>
                        <a href="./clases.html">Clases</a>
                        <a href="./festivales.html">Festivales</a>
                        <a href="#/" @click="abrirCarrito"><svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-shopping-cart" width="32" height="32"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <circle cx="6" cy="19" r="2" />
                                <circle cx="17" cy="19" r="2" />
                                <path d="M17 17h-11v-14h-2" />
                                <path d="M6 5l14 1l-1 7h-13" />
                            </svg></a>
                    </nav>

                </div>
            </header>
            <main>
                <div class="contenedor-banner-descripcion">
                    <div class="contenedor-banner">
                        <div class="logo-tienda"></div>
                        <div class="pareja-img"></div>
                    </div>
                    <div class="contenedor-descripcion contain">
                        <p>Sección de compra especializada en zapatos e indumentaria para practicar en tus clases,
                            contar con variedad de estilos para milonguear y también encontrar tu conjunto ideal de
                            escenario.
                        </p>
                    </div>
                </div>
                <div class="contenedor-banner-negro">
                    <div>
                        <img class="img-fluid" src="./recursos/imagenes/banner_negro_pareja.png">
                        <img class="img-fluid texto-negro" src="./recursos/imagenes/banner_negro_texto.png">
                    </div>
                </div>
                <div class="cuerpo">
                    <div class="contenedor-estilos">
                        <div class="estilo-salsa">
                            <div class="boton-estilo">
                                <p>Salsa</p>
                                <button type="button" @click="elegirEstilo('salsa')">Ir ></button>
                            </div>
                        </div>
                        <div class="estilo-bachata estilo-carta">
                            <div class="boton-estilo">
                                <p>Bachata</p>
                                <button type="button" @click="elegirEstilo('bachata')">Ir ></button>
                            </div>
                        </div>
                        <div class="estilo-tango estilo-carta">
                            <div class="boton-estilo">
                                <p>Tango</p>
                                <button type="button" @click="elegirEstilo('tango')">Ir ></button>
                            </div>
                        </div>
                    </div>
                    <!-- <p>{{estilo}} {{tipo}} </p> -->
                    <!-- FILTRO -->
                    <template>
                        <div class="contenedor-tipo">
                            <button class="btn-ind" type="button"
                                @click="elegirTipo('indumentaria')">INDUMENTARIA</button>
                            <button class="btn-calz" type="button" @click="elegirTipo('calzado')">CALZADO</button>
                        </div>
                    </template>
                    <!-- PRODUCTOS -->
                    <!-- <template> -->
                    <!-- v-for="producto in productos" -->
                    <div class="contenedor-producto">
                        <div class="producto-carta">
                            <div class="img-producto"></div>
                            <div>
                                <p>$1000</p>
                                <p>Nombre</p>
                                <button type="button" @click="verProducto">Ver</button>
                            </div>
                        </div>
                    </div>
                    <!-- </template> -->

                    <div class="contenedor-info">
                        <div class="envios">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-truck"
                                    width="150" height="150" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <circle cx="7" cy="17" r="2" />
                                    <circle cx="17" cy="17" r="2" />
                                    <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
                                </svg>
                            </div>
                            <div>
                                <h5>ENVIOS GRATIS 24 HS HABILES</h5>

                            </div>
                        </div>
                        <div class="promociones-ayuda-news">
                            <div class="mas-info">
                                <a href="#/">
                                    <img src="./recursos/imagenes/cards.png">
                                    <h3>PROMOCIONES</h3>
                                    <p>Conoce las promociones vigente</p>
                                </a>
                            </div>

                            <div class="mas-info">
                                <a href="#/">
                                    <svg style="margin-bottom: 0.5rem;" xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-help" width="50" height="50"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="12" cy="12" r="9" />
                                        <line x1="12" y1="17" x2="12" y2="17.01" />
                                        <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                                    </svg>
                                    <h3>AYUDA</h3>
                                    <p>Resolve tu duda o consulta</p>
                                </a>
                            </div>

                            <div class="input-news">
                                <div class="news">
                                    <h3>NEWSLETTER</h3>
                                    <p>Recibi novedades y promociones</p>
                                </div>
                                <div>
                                    <input type="text" placeholder="Ingresa tu e-mail">
                                    <button type="button">Suscribite ></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="enlaces">
                    <a href="#/" @click="abrirContacto">CONTACTO</a>
                    <a href="#/">PREGUNTAS FRECUENTES</a>
                    <a href="#/">BASES Y CONDICIONES</a>
                </div>
                <div class="logo-footer">
                    <img src="./recursos/imagenes/logo_NEUTRO_light.png">
                </div>
                <div class="redes-correo">
                    <div class="contenedor-redes">
                        <a href="https://www.facebook.com"><img src="./recursos/imagenes/facebook.png"></a>
                        <a href="https://www.instagram.com"> <img src="./recursos/imagenes/instagram.png"></a>
                        <a href="https://twitter.com"> <img src="./recursos/imagenes/twitter.png"></a>
                    </div>
                    <a href="#">duodanza@club.com</a>
                </div>
            </footer>
        </div>

        <template>
            <transition name="fade">
                <div class="modal" v-show="abrirProducto==true">
                    <div class="contenedor-modal">
                        <div class="modal-producto">
                            <div class="img-producto-modal">

                            </div>
                            <div class="detalles">
                                <div>
                                    <h3>PRODUCTO</h3>
                                    <div style="display: flex;align-items: center;">
                                        <p style="margin-right: 2rem
                                    ;">$ 10000 </p>
                                        <p>stock:</p>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, est magnam fugiat
                                        possimus, enim quisquam aliquam quia placeat eos earum aperiam quas officiis
                                        laboriosam nisi reiciendis.</p>
                                </div>
                                <div class="datos-compra">
                                    <div>
                                        <div class="input-unidad">
                                            <label for="u">Cant.</label>
                                            <input id="u" type="number">
                                        </div>
                                        <div class="input-talle">
                                            <label for="talle">Talle</label>
                                            <select id="talle">
                                                <option value="34">34</option>
                                                <option value="36">36</option>
                                                <option value="38">38</option>
                                                <option value="40">40</option>
                                                <option value="42">42</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="botones-compra">
                                        <button type="button">Agregar</button>
                                        <button type="button" @click="abrirCarrito">Ver carrito</button>
                                        <button type="button" @click="verProducto">Volver</button>
                                    </div>

                                    <!-- <p>nombre talle precio stock descripcion</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </template>
        <template>
            <transition name="fade">
                <section class="modal" v-show="modalCarrito==true">
                    <div class="contenedor-carrito">
                        <h2>CARRITO DE COMPRAS</h2>
                        <h4>Productos ({{carrito.length}})</h4>
                        <table>
                            <thead>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Talle</th>
                                <th>Precio</th>
                            </thead>
                            <tbody>
                                <!-- v-for="producto in carrito" -->
                                <tr>
                                    <td>{{producto.nombre </td>
                                    <td>{{producto.descripcion </td>
                                    <td>{{producto.talle </td>
                                    <td>{{producto.precio </td>
                                </tr>
                                <tr>
                                    <td>{{producto.nombre </td>
                                    <td>{{producto.descripcion </td>
                                    <td>{{producto.talle </td>
                                    <td>{{producto.precio </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display: flex; justify-content: flex-end;margin-right: 3rem;">
                            <p>TOTAL</p>
                            <p>{{total </p>
                        </div>
                        <div>
                            <button type="button" @click="abrirCarrito">Volver</button>
                            <button type="button">Pagar</button>
                        </div>
                    </div>
                </section>
            </transition>
        </template>
        <template>
            <transition name="fade">
                <section class="modal" v-show="modalContacto==true">
                    <div class="contenedor-manos">
                        <img class="mano-izquierda izquierda-contacto img-fluid"
                            src="./recursos/imagenes/home/mano_1.png">
                        <img class="mano-derecha derecha-contacto img-fluid" src="./recursos/imagenes/home/mano_2.png">
                    </div>
                    <div class="contenedor-modal">
                        <form>
                            <div>
                                <p>CONTACTO</p>
                            </div>
                            <div class="contenedor-form">
                                <div class="logo-form"></div>
                                <div>
                                    <div>
                                        <input type="text" placeholder="nombre">
                                        <input type="text" placeholder="e-mail">
                                    </div>
                                    <textarea cols="40" rows="20" placeholder="Mensaje"></textarea>
                                    <div class="botones">
                                        <button type="button">ENVIAR</button>
                                        <button type="button" @click="abrirContacto">VOLVER</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </section>
            </transition>
        </template>


    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
    <script src="./recursos/scripts/tienda.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p "
        crossorigin="anonymous "></script>
</body>

</html>