.izquierda-banner {
    margin-bottom: 3rem;
}

.derecha-banner {
    padding-top: 8rem;
}

.banner-titulo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
}

.texto-informativo {
    background-color: var(--header-color);
    padding: 1rem;
    color: white;
    box-shadow: -1px 14px 8px 0px rgb(0 0 0 / 20%);
}

div>h3 {
    text-align: center;
    color: var(--footer-color);
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.contenedor-opciones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--footer-color);
    height: 9rem;
    width: 80%;
    margin: auto;
    align-items: center;
    color: white;
    z-index: 10;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.contenedor-opciones>div+div {
    display: flex;
    width: 90%;
}

.inputs>div,
.contenedor-opciones>div+div div {
    display: flex;
    flex-direction: column;
}

.contenedor-opciones select {
    height: fit-content;
    background-color: var(--light);
    border: 0.1rem solid var(--light);
    border-radius: 0.3rem;
    width: 9rem;
}

#personas {
    width: 6rem;
    margin-right: 2rem;
}

#acompañante {
    width: 16rem;
}

#buscar-clase {
    color: white;
    background-color: var(--header-color);
    padding: 0.5rem;
    width: 12rem;
    border-radius: 1rem;
    position: absolute;
    transform: translateY(4.5rem);
}

.info-abonos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 22rem;
    overflow: hidden;
    z-index: 0;
}

.parrafo-bonos {
    text-align: center;
    position: relative;
    z-index: 0;
    height: 10rem;
    margin-top: 7rem;
    background-color: var(--gray-color);
}

.parrafo-bonos p {
    width: 55%;
    padding-left: 2rem;
    padding-top: 2rem;
}

.info-abonos>div+div {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 18%;
}

.info-abonos img {
    width: 45%;
    z-index: 10;
    overflow: hidden;
}

.contenedor-tabla {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2%;
    width: 100%;
    background-color: var(--rosa-suave);
}

.contenedor-tabla table {
    width: 90%;
    margin: auto;
}

.contenedor-tabla tbody>tr {
    border: 0.1rem solid var(--gray-color);
}

.contenedor-tabla button {
    width: 2rem;
    height: 2rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: var(--footer-color);
    color: var(--light);
    margin: auto;
    margin-left: 2rem;
}

.ultimo {
    margin-left: 2.5rem;
}

.info-clase {
    width: 100%;
}

.info-clase table {
    width: 90%;
    margin: auto;
}

.contenedor-profesores h3 {
    text-align: center;
}

.contenedor-profesores>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-profesores>div div {
    height: 10rem;
    width: 20rem;
    margin-bottom: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.contenedor-profesores>div div {
    background-image: url("../imagenes/home/Anderson_y_Brenda.png");
}

.contenedor-profesores>div div+div {
    background-image: url("../imagenes/home/fernando_y_leonela.png");
}

.contenedor-profesores>div div+div+div {
    background-image: url("../imagenes/home/maria_y_facu.png");
}

.contenedor-profesores>div div+div+div+div {
    background-image: url("../imagenes/home/kizomba.png");
}

.info-clase {
    padding: 3rem 6rem;
}

.info-clase table {
    width: 82%;
    margin: inherit;
}

.info-clase table thead {
    border-bottom: 2px solid var(--header-color);
    color: var(--header-color);
    font-size: 1.4rem;
}

.tabla-clase {
    display: flex;
}

.tabla-clase tbody td {
    font-size: 1.2rem;
    font-weight: 600;
}

.reservar {
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    background: var(--header-color);
    color: white;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.info-clase h4 {
    color: var(--header-color);
    font-weight: 600;
    font-size: 1.4rem;
    border-bottom: 2px solid var(--header-color);
    width: 50%;
}

.info-clase img {
    width: 100%;
}

.detalle-clase {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.detalle-clase p {
    width: 70%;
    color: #999999;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.detalle-clase div {
    width: 20%;
}

.detalle-imagen {
    background-image: url("../imagenes/eventos/rosarioBachata.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10rem;
}


/*****MODAL****/

.contenedor-modal {
    max-width: 90% !important;
    background: transparent;
    border: none;
}

.izquierda-contacto {
    margin-top: 10rem;
}

.derecha-contacto {
    margin-top: 20rem;
}

.botones {
    display: flex;
}

.botones button {
    margin-right: 1rem;
}


/***MODAL CLASE DEATLLADA*****/

.clase-detallada {
    border: 0.1rem solid rgba(0, 0, 0, 0.562);
    background-color: var(--rosa-suave);
    height: auto;
    width: 80%;
}


/*****MODAL PERFIL USUARIO***/

.info-usuario img {
    width: 20%;
    position: absolute;
    transform: translateY(-6.5rem);
}

.info-usuario {
    background-color: var(--header-color);
    align-items: center;
    justify-content: center;
    width: 40rem;
    padding: 2rem;
    border-radius: 0.3rem;
}

.info-usuario>div {
    display: flex;
    justify-content: space-around;
}

.datos-usuario {
    margin-top: 2.5rem;
    width: 50%;
}

.foto-perfil {
    width: 30%;
    height: 10rem;
    background-color: black;
    align-self: center;
}