/* .contenedor-reel {
    background-image: url("../imagenes/home/frame_video_3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0rem -6rem;
    width: 100%;
    height: 29vw;
    z-index: 9;
} */

/* .contenedor-texto {
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: auto;
    width: 60vw;
    text-align: center;
    background-color: var(--header-color);
    padding-bottom: 1vw;
    z-index: 3;
} */

.contenedor-banner-clases {
    margin: auto;
    margin-top: 2vw;
    width: 80vw;
    height: 20vh;
}

.manos {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--gray-color);
}

.logo-clases {
    background-image: url("../imagenes/home/clases_titulo_azul_y_beige.png");
    height: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    background-position: 50%;
}

.mano-izquierda {
    background-image: url("../imagenes/home/mano_1.png");
    height: 100%;
    width: 22%;
    background-size: contain;
    background-repeat: no-repeat;
}

.mano-derecha {
    background-image: url("../imagenes/home/mano_2.png");
    height: 100%;
    width: 22%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.contenedor-estilos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30vh;
}

.contenedor-estilos div {
    background-color: var(--footer-color);
    height: 3rem;
    width: 14rem;
    margin-bottom: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 2rem;
}

.contenedor-estilos div {
    background-image: url("../imagenes/home/bachata_titulo.png");
}

.contenedor-estilos div+div {
    background-image: url("../imagenes/home/salsa_titulo.png");
}

.contenedor-estilos div+div+div {
    background-image: url("../imagenes/home/tango_titulo.png");
}

.contenedor-profesores h3 {
    text-align: center;
}

.contenedor-profesores>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-profesores>div div {
    height: 10rem;
    width: 20rem;
    margin-bottom: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.contenedor-profesores>div div {
    background-image: url("../imagenes/home/Anderson_y_Brenda.png");
}

.contenedor-profesores>div div+div {
    background-image: url("../imagenes/home/fernando_y_leonela.png");
}

.contenedor-profesores>div div+div+div {
    background-image: url("../imagenes/home/maria_y_facu.png");
}

.contenedor-profesores>div div+div+div+div {
    background-image: url("../imagenes/home/kizomba.png");
}

.seccion-tienda {
    background-color: var(--header-color);
    height: 5rem;
    width: 30%;
    margin: auto;
    left: 0;
    right: 0;
}

.seccion-tienda div {
    background-image: url("../imagenes/home/Tienda.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    height: 100%;
}

.tienda-info {
    background-color: var(--footer-color);
    height: 18rem;
    width: 60%;
    margin: auto;
    margin-bottom: 3rem;
    display: flex;
    padding: 3rem;
}

.tienda-info>div {
    background-color: var(--gray-color);
    width: 50%;
}

.tienda-info>div div {
    background-image: url("../imagenes/home/piernas_shop.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    background-position: 50%;
}

.tienda-info div+div {
    background-color: transparent;
    padding-left: 3rem;
    width: 50%;
}

.productos-destacados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.productos-destacados div {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10rem;
    width: 20rem;
}

.productos-destacados div {
    background-image: url("../imagenes/home/zapato_1.png");
}

.productos-destacados div+div {
    background-image: url("../imagenes/home/ropa_2.png");
}

.productos-destacados div+div+div {
    background-image: url("../imagenes/home/zapato_2.png");
}

.productos-destacados div+div+div+div {
    background-image: url("../imagenes/home/ropa_1.png");
}

.seccion-festival {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 27rem;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.contenido-festival {
    display: flex;
    flex-direction: column;
    color: white;
    width: 60%;
    height: 10rem;
    padding: 2rem;
}

.contenido-festival>img {
    width: 50%;
    margin: auto;
}

.logos-tango {
    display: flex;
    height: 100%;
    width: 60%;
}

.logos-tango>img {
    width: 90%;
}

.seccion-festival div+div {
    width: 30%;
    overflow: hidden;
}

.seccion-festival div+div>img {
    height: 100%;
    overflow: hidden;
}

.seccion-milongas {
    background-image: url("../imagenes/home/club-gricel.jpg");
    height: 40rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
}

.seccion-milongas>p:first-child {
    color: white;
    font-size: 10vh;
    text-align: center;
    padding-right: 5rem;
    padding-left: 40rem;
}

.seccion-milongas p+p {
    color: white;
    text-align: center;
    padding-left: 40rem;
    padding-right: 3rem;
}

.contenedor-contacto {
    height: 10rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.formulario-contacto {
    display: block;
    position: relative;
}

.contenedor-form {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
    width: 80%;
    margin: auto;
    height: 13rem;
    padding: 1rem;
}

.contenedor-form button {
    background-color: var(--gray-color);
    width: 8rem;
    padding: 0.3rem;
    align-self: flex-end;
    margin-top: 1rem;
}

form>div div+div {
    display: flex;
    flex-direction: column;
    padding-right: 14rem;
}

.logo-form {
    background-image: url("../imagenes/logo_light.png");
    height: 10rem;
    width: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.contenedor-form input {
    margin-bottom: 1rem;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    margin: auto;
    margin-top: 8rem;
    width: 60%;
}

.sponsors div {
    background-repeat: no-repeat;
    background-size: contain;
    height: 60%;
    width: 30%;
}

.sponsors div {
    background-image: url("../imagenes/home/Minculturaarg.png");
}

.sponsors>div+div {
    background-image: url("../imagenes/home/pngegg\ \(1\).png");
}

.sponsors div+div+div {
    background-color: black;
    background-image: none;
    width: 6rem;
    height: 3rem;
}

.sponsors img {
    width: 90%;
}

.contenedor-modal {
    height: 25rem;
    width: 20rem;
    background-color: var(--footer-color);
}

.modal-ingreso {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.modal-ingreso form>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 1rem;
}

.modal-ingreso form>button {
    display: flex;
    color: white;
    margin: auto;
    margin-top: 0.4rem;
}