.contenedor-usuario {
    margin-top: 9rem;
}

.id-usuario {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.id-usuario>div {
    display: flex;
    background-color: var(--header-color);
    width: 20%;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem 0.5rem 0 0;
}

.info-usuario {
    display: flex;
    flex-direction: column;
    background-color: var(--header-color);
    height: 20rem;
    width: 80%;
    margin: auto;
    padding: 5%;
    padding-top: 0;
    padding-left: 9%;
    position: relative;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
}

.foto-perfil {
    width: 10rem;
    height: 10rem;
    background-color: black;
}

.info-usuario>div:first-child {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    width: 100%;
    padding-top: 9%;
}

.info-usuario>div+div {
    width: 100%;
    justify-content: flex-end;
}

.datos-usuario {
    display: flex;
    flex-direction: column;
}

.logo-usuario {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 28%;
    transform: translateY(-4rem);
    z-index: 3;
}

.contenedor-abonos {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
    height: 10rem;
    width: 80%;
}

.contenedor-abonos {
    background-color: var(--gray-color);
    height: 10rem;
}

.logo-abonos {
    /* position: absolute; */
    width: 30%;
    margin: auto;
    transform: translateY(-5rem);
}

.mano-izquierda,
.mano-derecha {
    width: 20%;
    z-index: 5;
}

.mano-derecha {
    margin-top: 10rem;
}

.mano-izquierda {
    padding-bottom: 10rem;
}

.info-usuario button {
    background-color: var(--gray-color);
    color: white;
    padding: 0.5rem;
}

.tipos-clases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.tipos-clases button {
    background-color: var(--gray-color);
    height: 3rem;
    width: 15rem;
    font-size: 3vh;
    color: white;
}

.abono-activo {
    background-color: var(--footer-color) !important;
}

.precio-abonos {
    background-color: var(--footer-color);
    color: white;
    position: relative;
    display: flex;
    height: 18rem;
    margin-bottom: 17rem;
}

.piernas {
    position: absolute;
    width: 20%;
}

.contenedor-seleccion-clases {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.selector-clases {
    width: 25rem;
}

.selector-clases div {
    display: flex;
    justify-content: space-around;
    font-size: 3.5vh;
}

.contenedor-seleccion-clases>div+div {
    margin-left: 10rem;
}

.selector-clases select {
    width: 10rem;
    height: fit-content;
    background-color: var(--footer-color);
    border: 0.1rem solid var(--light);
    border-radius: 0.3rem;
    color: var(--light);
}

.contenedor-match {
    width: 100%;
    height: 20rem;
    position: relative;
    background-color: var(--gray-color);
    background-color: #111111;
}

.match-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    overflow: hidden;
}

.match-info p {
    padding-top: 5rem;
    color: white;
}

.telas {
    position: absolute;
    width: 25%;
    transform: translateY(-10rem);
}

.logo-match {
    transform: translateY(3rem);
}

.texto-bachata {
    position: relative;
    margin-right: 10%;
    width: 80%;
}

.pareja {
    height: 100%;
    margin-right: 0;
    position: absolute;
    transform: translateX(77rem);
}


/*****MODAL****/

.contenedor-modal {
    max-width: 80% !important;
}

.manos-modal {
    transform: translateY(10rem);
}

.modal-editar {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 100%;
    background-color: var(--rosa-suave);
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-editar form {
    position: relative;
}

.modal-editar input {
    margin: 0.4em;
}

.contenedor-botones {
    margin-top: 3rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    padding-top: 2rem;
}

.contenedor-botones button {
    background-color: var(--footer-color);
    padding: 0.5rem;
    margin-left: 1.5rem;
    color: var(--light);
}