@media only screen and (max-width: 800px) {
    .contenedor-banner {
        width: 100%;
        height: 9rem;
        padding: 0;
        margin-top: 2rem;
    }
    .pareja-img {
        background-image: url("../imagenes/pareja_baile_recorte.png");
        width: 90%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .logo-tienda {
        background-image: url("../imagenes/Tienda.png");
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .contenedor-descripcion {
        padding: 0.6rem;
        margin: 0;
        width: auto;
        margin-top: 2rem;
    }
    .contenedor-descripcion p {
        text-align: center;
    }
    .contenedor-banner-negro {
        width: 100vw;
        overflow: hidden;
        height: auto;
        margin-top: 7rem;
    }
    .contenedor-banner-negro img {
        width: 40%;
    }
    .contenedor-estilos {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .contenedor-estilos div {
        margin-bottom: 1.5rem;
    }
    .contenedor-tipo {
        margin-bottom: 4rem;
    }
    .contenedor-info {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 !important;
    }
    .envios {
        height: auto;
        padding: 0.4rem;
    }
    .envios div+div>h1 {
        font-size: 2.5vh;
        margin: 0 !important;
        padding: 0 !important;
    }
    .mas-info img {
        width: 10%;
    }
    .mas-info {
        width: 100%;
    }
    .promociones-ayuda-news {
        flex-direction: column;
        margin-top: 0.6rem;
        margin: auto !important;
        padding: 0 !important;
        overflow: hidden !important;
        font-size: small;
    }
    .promociones-ayuda-news div {
        width: 100%;
        padding: 0.5rem;
    }
    .input-news,
    .news {
        width: 100%;
    }
    .envios svg {
        height: 30 !important;
        width: 30 !important;
    }
}