/****MAIN*****/

.contenedor-banner {
    display        : flex;
    justify-content: center;
    margin-top     : 3%;
    height         : 30vw;
    z-index        : 0;
    overflow       : hidden;
}

.logo-tienda {
    background-image : url("../imagenes/Tienda.png");
    width            : 100%;
    background-size  : contain;
    background-repeat: no-repeat;
    margin-left      : 12rem;
}

.pareja-img {
    background-image: url("../imagenes/pareja_baile_recorte.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
 
}

.contenedor-manos1 {
    display        : flex;
    justify-content: right;
    position       : absolute;
    margin-top     : -50rem;
    width          : 100%;
    z-index        : 0 !important;
}

.contenedor-manos2 {
    display        : flex;
    justify-content: space-between;
    position       : absolute;
    width          : 20%;
    margin-top     : 48rem;
    z-index        : 1 !important;
}

.mano-izquierda {
    background-image : url("../imagenes/home/mano_1.png");
    height           : 100%;
    width            : 100%;
    background-size  : contain;
    background-repeat: no-repeat;
}

.mano-derecha {
    background-image   : url("../imagenes/home/mano_2.png");
    height             : 100%;
    width              : 22%;
    background-size    : contain;
    background-repeat  : no-repeat;
    background-position: 100%;
    z-index        : 0 !important;
}

.contenedor-banner-descripcion {
    /* position       : relative; */
    display        : flex;
    flex-direction : column;
    width          : 100%;
    justify-content: center;
    margin-bottom  : -2rem;
}

.contenedor-contenedor-descripcion {
    display        : flex;
    justify-content: center;
}

.contenedor-descripcion {
    background-color: var(--header-color);
    width           : 60%;
    z-index         : 5;
    padding         : 0.5rem;
    padding-left    : 2rem;
    padding-right   : 2rem;
    padding-bottom  : 1rem;
    justify-content : center;
    position        : absolute;
    transform       : translateY(-3rem);
    font-size       : 1vw;
    text-align      : end;
    color           : var(--light);
    z-index        : 2 !important;

}

.contenedor-descripcion p {
    padding-left: 6rem;
}

.contenedor-banner-negro {
    /* background-image: url("../imagenes/banner_negro.png");
    background-position: center; */
    width     : 100%;
    z-index   : 0;
    margin-top: 2rem;
}

.contenedor-banner-negro>div {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height          : 40%;
    /* margin-bottom: -5rem; */}

.contenedor-banner-negro img {
    padding-left: 2vw;
    width       : 35%;
}

.texto-negro {
    height: 30%;
    align-self: center;
}

.cuerpo {
    padding: 6vw;
    padding-top: 0vw;
}

.contenedor-estilos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4%;
}

.contenedor-estilos>div {
    /* border       : solid 0.1rem black; */
    border-radius: 0.3rem;
    width        : 25rem;
    height       : 9rem;
}

.estilo-salsa {
    background-image   : url("../imagenes/salsa.png");
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: 0rem -3.5rem;
}

.estilo-bachata {
    background-image   : url("../imagenes/bachata.png");
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: 0rem -7rem;
}

.estilo-tango {
    background-image   : url("../imagenes/tnagoOK.png");
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: 0rem -12rem;
}

.boton-estilo {
    display: flex;
    flex-direction: column;
    align-items   : flex-end;
    color         : white;
    height        : 100%;
    padding-right : 1rem;
    padding-top   : 2rem;

}

.boton-estilo p,
.boton-estilo a {
    font-family: 'Scriptina', arial;
    font-size  : 3.5rem;
    margin     : 0%;
    z-index    : 1;
}

.boton-estilo a:hover {
    color: black;
}

.contenedor-estilos button {
    background-color: #b5c7cb;
    padding         : 0.5rem;
    width           : 11rem;
    border-radius   : 0.5rem;
    text-align      : left;
    padding-left    : 1rem;
    color           : var(--light);
}

.contenedor-estilos button:hover {
    background-color: black;
    color           : white;
}

.contenedor-padre-tipo {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.contenedor-tipo {
    margin-top      : 5rem;
    display         : flex;
    justify-content : space-around;
    background-color: var(--header-color);
    width           : 60%;
    height          : 5rem;

}

.contenedor-tipo button {
    width : 100%;
    border: solid 0.3rem var(--light);
    color : var(--light);
}

.contenedor-tipo button:hover {
    background-color: black;
    color           : white;
}

.contenedor-info {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.contenedor-info h1,
.contenedor-info h5,
.contenedor-info p {
    color: white;
    margin: 0;
}

.h5 {
    size: 50% !important;
}

.envios {
    background-color: var(--header-color);
    height: 16rem;
    display: flex;
    justify-content: space-between;
    padding-right: 14%;
    padding-left: 5%;
}

.envios div {
    width: 40%;
}

.envios>div:first-child {
    align-self: center;
}

.envios div+div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3vw;
    width: 60%;
    font-size: 5rem;
}

.envios div+div>h1 {
    font-size: 9vh;
    margin: 0;
}

.promociones-ayuda-news {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
    width: 100%;
}

.promociones-ayuda-news div {
    background-color: var(--header-color);
}

.promociones-ayuda-news p,
h3 {
    margin: 0;
    color: white;
}

.mas-info {
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mas-info img {
    width: 30%;
    margin-bottom: 0.5rem;
}

.input-news {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    padding-left: 3vw;
}

.input-news input {
    width: 18rem;
    padding: 0.5rem;
}

.input-news button {
    background-color: black;
    color: white;
    padding: 0.5rem;
}

.news {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


/***MODAL*****/

.modal {
    z-index: 99;
}

.modal p,
.modal h3 {
    color: black
}

.modal-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    max-width: 75%;
    background-color: var(--rosa-suave);
    border-radius: 1rem;
    box-shadow: 9px 16px 20px 12px #2c2828e0;
}

.img-producto-modal {
    /*background-image: url("../imagenes/calzado-1.jpg");*/
    background-size: contain;
    background-repeat: no-repeat;
    /*height: 10rem;*/
    width: 30%;
}

.img-producto-modal img {
    width : 100%;
    height: 100%;
}


/* .img-producto img {
    width: 30%;
} */

.detalles {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 2rem;
}

.detalles p {
    margin-top: 0;
}

.datos-compra {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.datos-compra>div:first-child {
    display: flex;
}

.input-unidad,
.input-talle,
.select-color {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.input-unidad input,
.input-talle select {
    width: 4rem;
    height: 100%;
}

.select-color {
    width: 8rem;
}

.datos-compra button {
    background-color: var(--header-color);
    color           : white;
    margin-right    : 2rem;
    width           : 15rem;
    padding         : 0.5rem;
    border-radius   : 0.3rem;

}

.boton-compra {
    display        : flex;
    flex-direction : row;
    justify-content: center;


}


.boton-combra button {
    width: 100% !important;

}

.boton-compra button:hover {
    background-color: black;
}

.boton-volver {
    background-color: #b5c7cb !important;
    width           : 8rem !important;

}

.botones-compra {
    display: flex;
    margin-top: 1.6rem;
}


/****MODAL CONTACTO* */

.modal {
    position: absolute;
    position: fixed;
}

.contenedor-modal {
    max-width: 90% !important;
    background: transparent;
    border: none;
}

.izquierda-contacto {
    margin-top: 10rem;
}

.derecha-contacto {
    margin-top: 20rem;
}

.botones {
    display: flex;
}

.botones button {
    margin-right: 1rem;
}


/***PRODUCTO***/

.contenedor-producto {
    height         : auto;
    margin-top     : 4rem;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
}

.img-producto {
    /* background-color: black; */
    /*height: 10rem;*/
    width: 100%;
}

.img-producto img {
    width: 100%;
}

.producto-carta {
    width: 15%;
    height: auto;
    border-radius: 0.3rem;
    border       : 0.1rem solid rgba(0, 0, 0, 0.616);
    box-shadow   : #b5c7cb;
    margin-bottom: 2rem;
}

.producto-carta>div+div {
    padding: 0.5rem;
}

.producto-carta button {
    background-color: var(--header-color);
    color           : var(--light);
    width           : 100%;
    height          : 2rem;
    border-radius   : 0.2rem;
}

.producto-carta button:hover {
    background-color: black;
}

/****MODAL CARRITO***/

.contenedor-carrito {
    max-width: 70%;
    border: 0.1rem solid rgba(0, 0, 0, 0.349);
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--rosa-suave);
    height          : fit-content;
    width           : 100%;
}

.contenedor-carrito table {
    width: 80%
}

.contenedor-carrito tr {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.349);
}

.contenedor-carrito th,
.contenedor-carrito td {
    text-align: left;
}


/****input pago*****/

.datos-tarjeta {
    margin-top: 2rem;
}

#boton-pagar {
    background-color: var(--footer-color);
    color           : white;
    margin-left     : 2rem;
    padding         : 0.3rem;
}


/*****/

.linea-seleccion {
    border-bottom: 0.1rem solid var(--footer-color);
}